# Installed node modules
node_modules/

# Build target
/build/**
# Ignore package.json and yarn.lock
!/build/package.json
!/build/yarn.lock
!/build/tsconfig.json

# OSX files
.DS_Store

# Parcel cache
.cache/

# Yarn error file
yarn-error.log