.header {
    display: block;
    text-align: center;
    font-size: 4em;
}

.loginInput {
    background-color: rgba(255,255,255,0.5);
    font-family: parchment-print;
    width: 150px;
}

.loginExplanation {
    padding: 0 80px;
    font-size: 1rem;
}