@import "../styles/style.less";

.header {
    display: block;
    text-align: center;
    font-size: 4em;
}

.subHeader {
    display: block;
    text-align: center;
    font-size: 2.5em;
}

.address {
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.center {
    display: block;
    text-align: center;
}

.submitButton {
    margin: auto;
}

.loginExplanation {
    padding: 0 80px;
    @media screen and (max-width: 767px) {
        padding: 0 5%;
    }
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .showOnMobile {
        display: none !important;
    }
}

@media screen and (max-width: 767px) {
    .hideOnMobile {
        display: none;
    }
}